
#primary {
  background-image: url('/assets/images/Rectangle_33.png');
}

//*** Fade In  ***//

@keyframes fadeInFromTop {
  0% {
      opacity: 0;
      transform: translateY(-100px);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}

@keyframes fadeInFromBottom {
  0% {
      opacity: 0;
      transform: translateY(100px);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}

header, .banner {
  animation: fadeInFromTop 1s forwards;
  opacity: 0; 
}

section, footer {
  animation: fadeInFromBottom 1s forwards;
  opacity: 0; 
}

//*** Animation des titres de sections ***//