//*** Fade In  ***//

@keyframes fadeInFromTop {
  0% {
      opacity: 0;
      transform: translateY(-100px);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}

@keyframes fadeInFromBottom {
  0% {
      opacity: 0;
      transform: translateY(100px);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}

header, .banner {
  animation: fadeInFromTop 1s forwards;
  opacity: 0; 
}

section, footer {
  animation: fadeInFromBottom 1s forwards;
  opacity: 0; 
}

//*** Animation des titres de sections ***//
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(1em);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.title span {
  display: inline-block;
  opacity: 0;
  transform: translateY(1em);
}

.title span.visible {
  animation: fadeInUp 0.3s forwards;
}


//****Animation des fleurs de sections ***//

.story h2::after, 
.story__article::after,
#studio h2::before,
#studio h2::after,
.site-footer::before,
.site-footer::after {
    animation: rotateFlower 5s infinite linear;
}

@keyframes rotateFlower {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
