.story {
  #place {
    background-image: url('../images/place_image.png');
    position: relative;

    .bigcloud {
      filter: blur(15px);
      position: absolute;
      right: -200px;
      top: 80px;
      transform: translate3d(300px, 0, 0);
    }

    .littlecloud {
      filter: blur(15px);
      position: absolute;
      right: 220px;
      top: 272px;
      transform: translate3d(300px, 0, 0);
      
    }
}
}
