.story {
    #place {
      position: relative;
      background-image: url('../images/place_image.png');
      overflow: hidden;
  
      .bigcloud {
        position: relative ;
        width: 300px;
        height: 120px;
        top: 118px;
        filter: blur(10px);

      }
  
      .littlecloud {
       position: relative;
       width: 140px;
       height: 50px;
       top: 245px;
       filter: blur(10px);
      }
    }
  }
  